#text{
  display: flex;
  justify-content: center;
  color: blue;
}

.img{
  display: flex;
  justify-content: center;
  padding: 100px;
  }

.button{
  display: flex;
  justify-content: center;

}

.bodyWhite{
  background-color: black;
}
